<body class="text-center">


    <div class="container text-center" *ngIf="!loader">
        <div class="row">
            <div class="col align-self-center">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <main class="form-signin w-100 m-auto" *ngIf="loader">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                    formControlName="email">
                <label for="floatingInput">Email address</label>
                <span class="form-text text-danger" *ngIf="email?.errors?.['required'] && email?.touched ">Email is
                    required</span>
                <span class="form-text text-danger" *ngIf="email?.errors?.['email']">Enter a valid email</span>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                    formControlName="password">
                <label for="floatingPassword">Password</label>
                <span class="form-text text-danger"
                    *ngIf="password?.errors?.['required'] && password?.touched ">Password is required</span>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted" routerLink="/auth/register">Create acount</p>
        </form>
    </main>
</body>