<app-loader *ngIf="loader"></app-loader>
<br>

<app-table-products *ngIf="!loader" [products]="products$" [name]="name$" (addProduct)="addProduct($event)"
    (editProducts)="edit( $event )" (deleteProduct)="deleteProduct( $event )"></app-table-products>