<div class="main">
    <h1>Check your branches</h1>
    <button type="button" class="btn btn-dark fixed" data-bs-toggle="modal" data-bs-target="#addBranch">Add a
        new branch</button>
    <ul class="cards">
        <li class="cards_item" *ngFor="let branch of branches">
            <div class="card">
                <div class="card_image"><img src="https://picsum.photos/500/300"></div>
                <div class="card_content">
                    <h2 class="card_title">{{branch.nombre}}</h2>
                    <br>
                    <p class="card_text">
        <li><i class="bi bi-phone"></i> {{branch.telefono}}</li>
        <li><i class="bi bi-geo-alt"></i> {{branch.direccion}}</li>
        </p>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btnd card_btn" [routerLink]="['/user/products', branch._id]">Manage
                Branch</button>
            <button type="button" class="btnd card_btn" data-bs-toggle="modal" data-bs-target="#addBranch"
                (click)="getInfo(branch._id!)">Edit</button>
            <div class="btn-group" role="group">
                <button type="button" class="btnd card_btn dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    See more
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="getBranchId(branch._id!)" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Send Products</a></li>
                    <li (click)="delete(branch._id!)"><a class="dropdown-item">Delete</a></li>
                </ul>
            </div>
        </div>
</div>
</div>
</li>
</ul>
</div>

<!-- Modal add new branch -->
<div class="modal fade" id="addBranch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" *ngIf="!branchInfo">Add Branch</h1>
                <h1 class="modal-title fs-5" id="staticBackdropLabel" *ngIf="branchInfo">Edit Branch</h1>
            </div>
            <div class="modal-body">
                <form [formGroup]="branchesForm">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">phone number:</label>
                        <input type="tel" class="form-control" formControlName="telefono">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">direccion:</label>
                        <select class="form-select" formControlName="direccion">
                            <option *ngFor="let departamento of departamentos" [value]="departamento.codigo">
                                {{departamento.nombre}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="!branchInfo" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button *ngIf="branchInfo" type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="edit()">Edit</button>
                        <button *ngIf="!branchInfo" type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="addBranch()">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Send Products</h1>
            </div>
            <div class="modal-body">

                <form [formGroup]="sendProductsForm">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name Product:</label>
                        <select class="form-select" aria-label="multiple select example"
                            formControlName="NombreProductoSucursal">
                            <option *ngFor="let product of products" [value]="product">{{product}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Stock:</label>
                        <input type="number" class="form-control" id="recipient-name" formControlName="StockSurcursal">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendProduct()">Send
                    Product</button>
            </div>
        </div>
    </div>
</div>