<!-- Navbar & Hero Start-->
<div class="nav">
  <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
      <a class="navbar-brand p-0">
        <h1 class="m-0">Control Empresas
        </h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <i class="bi bi-list"></i></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
        </div>
        <a (click)="register()" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">Registrar</a>
        <a (click)="login()"  class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">Login</a>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid bg-primary hero-header">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="text-white mb-4 animated zoomIn">Te ayudamos a llevar la automotización de tu empresa a otro nivel
        </h1>
        <p class="text-white pb-3 animated zoomIn">Con nuestra ayuda podras tener un mayor sobre el control de tus
          productos y
          tus sucursales, ademas podras administrar los productos por tus sucursales!!
        </p>
        <a routerLink="/registrar"
          class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">Registrate</a>
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <img class="img-fluid animated zoomIn" src="../../../assets/images/hero.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- About Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
        <img class="img-fluid" src="../../../assets/images/about.png">
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Sobre nosotros</div>
        <h2 class="mb-4">Pagina web que te ayudara a gestionar tus productos y sucursales</h2>
        <p class="mb-4">Te ayudaremos a llevar un control
          sobre tus productos y sucursales, ademas de poder enviarles productos a las sucursales
          y poder generar una venta desde las sucursales.
        </p>
        <div class="row g-3 mb-4">
          <div class="col-12 d-flex">
            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
              <i class="fa fa-user-tie text-white"></i>
            </div>
            <div class="ms-4">
              <h6>Lleva el control de todo</h6>
              <span>Como bien hemos dicho puede llevar el control de producto y crear sucursales, ademas los productos
                se pueden enviar a la sucursal seleccionada y generar una venta desde la sucursal seleccionada
              </span>
            </div>
          </div>
          <div class="col-12 d-flex">
            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
              <i class="fa fa-chart-line text-white"></i>
            </div>
            <div class="ms-4">
              <h6>Grafica por ventas</h6>
              <span>Se te ensañara una grafica con los productos mas vendidos por la sucursal seleccionada</span>
            </div>
          </div>
        </div>
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2"
          href="https://www.canva.com/design/DAE-ogtKlzk/fes_62HELCoqZRD2r_K_ig/view?utm_content=DAE-ogtKlzk&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
          target="_blank" rel="noopener noreferrer">Manual Aqui!!</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Testimonial Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Comentarios</div>
      <h2 class="mb-5">Ve lo que dicen nuestros clientes!</h2>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>Me a servido mucho para poder llevar un buen control de mis productos</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/images/testimonial-1.jpg">
          <div class="ps-3">
            <h6 class="mb-1">Eliza Ruiz</h6>
            <small>Empresaria</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>La parte de las graficas me fascina ya que me puedo enterar de que producto le esta gustando a las personas
        </p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/images/testimonial-2.jpg">
          <div class="ps-3">
            <h6 class="mb-1">Hernesto Fernandez</h6>
            <small>Empresario</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>Me a servido para tener un control de mis sucursales, antes no sabia ni cuantas tenia</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/images/testimonial-3.jpg">
          <div class="ps-3">
            <h6 class="mb-1">Erick Perez</h6>
            <small>Empresario</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

<!-- Team Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Equipo</div>
      <h2 class="mb-5">Conoce al equipo de desarrollo</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

        <div class="team-item border border-primary rounded">
          <h5>Kumatz'</h5>
          <p class="mb-4">Empresa</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="../../../assets/images/image.png" alt="">
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item border border-primary rounded">
          <h5>Ivan cujcuj</h5>
          <p class="mb-4">Developer</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="../../../assets/images/foto de kinal.jpeg" alt="">
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item border border-primary rounded">
          <h5>Alan de la cruz</h5>
          <p class="mb-4">Developer</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="../../../assets/images/IMG-20220321-WA0006.jpg" alt="">
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item border border-primary rounded">
          <h5>Marck Herrera</h5>
          <p class="mb-4">Developer</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="../../../assets/images/yo marck.jpg" alt="">
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item border border-primary rounded">
          <h5>Diego Hernandez</h5>
          <p class="mb-4">Developer</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="../../../assets/images/MicrosoftTeams-image.png" alt="">
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item border border-primary rounded">
          <h5>Carlos Alvarez</h5>
          <p class="mb-4">Developer</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="../../../assets/images/88805687.png" alt="Carlos">
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Visitanos</h5>
        <p><i class="fa fa-map-marker-alt me-3"></i>6A Avenida 13-54, Cdad. de Guatemala</p>
        <p><i class="fa fa-phone-alt me-3"></i>+502 2216-0000</p>
        <p><i class="fa fa-envelope me-3"></i>ocujcuj-2020271@kinal.edu.gt</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Enlaces rapidos</h5>
        <a class="btn btn-link" href="">Sobre Nosotros</a>
        <a class="btn btn-link" href="">Contactos</a>
        <a class="btn btn-link" href="">Politica de privacidad</a>
        <a class="btn btn-link" href="">Terminos y condiciones</a>
        <a class="btn btn-link" href="">Carrera</a>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Enlaces populares</h5>
        <a class="btn btn-link" href="">Sobre nosotros</a>
        <a class="btn btn-link" href="">Contactanos</a>
        <a class="btn btn-link" href="">Politica de privacidad</a>
        <a class="btn btn-link" href="">Terminos y condiciones</a>
        <a class="btn btn-link" href="">Carrera</a>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="text-white mb-4">Escribenos</h5>
        <p>Si quieres hablar o pertenecer a nuestro equipo envianos tu correo!!</p>
        <div class="position-relative w-100 mt-3">
          <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Tu Email"
            style="height: 48px;">
          <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
              class="fa fa-paper-plane text-primary fs-4"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Control de empresas</a>, All Right Reserved.

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
          <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>