<nav class="navbar navbar-expand-lg navbar-light bg-light container">
    <div class="container-fluid">
        <a class="navbar-brand">Manage your products</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item" class="click" *ngIf="!id$">
                    <a class="nav-link active" aria-current="page" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Add Product</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Order by
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" (click)="orderMax()">largest stock</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="orderMin()">smallest stock</a></li>
                        <li *ngIf="id$">
                            <hr class="dropdown-divider">
                        </li>
                        <li *ngIf="id$" (click)="orderBestSellingProduct()"><a class="dropdown-item">best selling product</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" *ngIf="!id$">
                <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search"
                    [(ngModel)]="was" name="search">
                <input class="form-control me-2" type="search" placeholder="Search by provider" aria-label="Search"
                    [(ngModel)]="wes" name="transform" *ngIf="!id$">
            </form>
            <form class="d-flex" *ngIf="id$">
                <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search"
                    [(ngModel)]="wus" name="wus">
            </form>
        </div>
    </div>
</nav>

<br>

<table class="table table-striped container">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">{{name}}</th>
            <th scope="col">stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products|nameProduct:was:wes:wus; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{product.NombreProducto || product.NombreProductoSucursal}}</td>
            <td>{{product.NombreProveedor || product.CantidadVendida}}</td>
            <td>{{product.Stock || product.StockSurcursal}}</td>
            <td class="click" *ngIf="!id$" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                (click)="getInfo(product._id!)"><i class="bi bi-pencil-square"></i> Edit</td>
            <td class="click" *ngIf="!id$" (click)="delete(product._id!)"><i class="bi bi-x-circle-fill"></i> Delete
            </td>

            <td (click)="getInfoProductBranch(product._id!)" data-bs-toggle="modal" data-bs-target="#sell" class="click" *ngIf="id$"><i
                    class="bi bi-bag-check"></i> Sell</td>
        </tr>
    </tbody>
</table>

<!-- Modal add products -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Products</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    *ngIf="!productInfo"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addProductForm">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Name Product:</label>
                        <input type="text" class="form-control" formControlName="NombreProducto">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Name Provider:</label>
                        <input type="text" class="form-control" formControlName="NombreProveedor">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Stock:</label>
                        <input type="number" class="form-control" formControlName="Stock">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!productInfo" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button *ngIf="!productInfo" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="add()">Add</button>
                <button *ngIf="productInfo" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="edit()">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal sell products -->
<div class="modal fade" id="sell" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sell</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="sellProductForm">
                    <div class="mb-3">
                        <label class="col-form-label">Name:</label>
                        <input type="text" class="form-control" formControlName="NombreProductoSucursal" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Quantity:</label>
                        <input type="number" class="form-control" formControlName="StockSurcursal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="sell()" data-bs-dismiss="modal">Sell!!!</button>
            </div>
        </div>
    </div>
</div>