<app-loader *ngIf="loader"></app-loader>

<app-card *ngIf="!loader" [user]="user$" (onEdit)="editInformation( $event )"></app-card>

<app-card-product *ngIf="!loader" [branches]="branches$" (branchInformation)="addBranch($event)"
    (editBrach)="editBranch( $event )" (brachDelete)="delete( $event )" (sendProducts)="sendProduct( $event )">
</app-card-product>