<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Hi! {{user.nombre}}</div>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a>See your info</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="bi bi-envelope-fill"></i> {{user.email}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<ul>
						<li><i class="bi bi-phone"></i> {{user.telefono}}</li>
						<li><i class="bi bi-geo-alt"></i> {{user.direccion}}</li>
						<li><i class="bi bi-building"></i> {{user.tipoEmpresa}}</li>
					</ul>
				</div>
				<ul class="postcard__tagbox">
					<li class="tag__item" routerLink="/user/products"><i class="fas fa-tag mr-2"></i> Add products to
						your company</li>
					<li class="tag__item" data-bs-toggle="modal" data-bs-target="#editInformation"><i
							class="bi bi-pencil-square"></i> Edit your information</li>
				</ul>
			</div>
		</article>
	</div>
</section>


<!-- Modal Edit-->
<div class="modal fade" id="editInformation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Edit your information</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="editForm" (ngSubmit)="edit()">
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">Name:</label>
						<input type="text" class="form-control" formControlName="nombre">
					</div>
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">email:</label>
						<input type="text" class="form-control" formControlName="email">
					</div>
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">direccion:</label>
						<select class="form-select" formControlName="direccion">
							<option *ngFor="let departamento of departamentos" [value]="departamento.codigo">
								{{departamento.nombre}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">telefono:</label>
						<input type="tel" class="form-control" formControlName="telefono">
					</div>
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">tipoEmpresa:</label>
						<select (click)="otherOption()" class="form-select" formControlName="tipoEmpresa">
							<option value="" disabled selected hidden>Selecione un Tipo Empresa</option>
							<option *ngFor="let tipo of tipes" [value]="tipo.codigo">{{tipo.nombre}}
							</option>
							<option value="other">Otro...</option>
						</select>
					</div>
					<div *ngIf="newOption" class="mb-3">
						<label for="TipoEm" class="col-form-label">Nuevo tipo de empresa</label>
						<input type="text" class="form-control" id="TipoEm" name="tipoEmpresa"
							placeholder="Ingrese su tipo de empresa" formControlName="tipoEmpresa">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
							[disabled]="editForm.invalid">Edit</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>