/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

#Registrarse {
    background-color: #1a1c2c;
    color: #fff;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border-color: #1a1c2c;
    text-align: center;
    font-size: 20px;
}


#Registrarse:hover {
    background-color: #454f97;
}

p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px
}

#botton-p-a {
    margin-top: 10px;
}

p a {
    text-align: center;
    line-height: 40px;
    color: #1f1199;
    text-decoration: none;
    font-size: 15px;
}

p a:hover {
    color: #083950;
}


/* ==========================================================================
       #GRID
       ========================================================================== */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px
}

.col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

/* ==========================================================================
       #BOX-SIZING
       ========================================================================== */
/**
     * More sensible default box-sizing:
     * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
     */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* ==========================================================================
       #RESET
       ========================================================================== */
/**
     * A very simple reset that sits on top of Normalize.css.
     */
body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
    margin: 0;
    padding: 0;
}




/**
     * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
     *    on fieldsets.
     */
fieldset {
    min-width: 0;
    /* [1] */
    border: 0;
}

button {
    outline: none;
    background: none;
    border: none;
}

/* ==========================================================================
       #PAGE WRAPPER
       ========================================================================== */
.page-wrapper {
    min-height: 100vh;
    background-color: #0D6EFD;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

body {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400px;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

/* ==========================================================================
       #BACKGROUND
       ========================================================================== */
.bg-blue {
    background: #2c6ed5;
}

/* ==========================================================================
       #SPACING
       ========================================================================== */


.p-t-20 {
    padding-top: 20px;
}


/* ==========================================================================
       #WRAPPER
       ========================================================================== */
.wrapper {
    margin: 0 auto;
}

.wrapper--w680 {
    max-width: 730px;
}


/* ==========================================================================
       #TITLE
       ========================================================================== */
.title {

    margin: 10px;
}

/* ==========================================================================
       #CARD
       ========================================================================== */
.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-1 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    background-color: #406882;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-1 .card-heading {

    padding: 10px;
    border-radius: 10px;
    background-color: #406882;
    text-align: center;
    color: #fff;
}

.card-1 .card-body {
    padding: 0 40px;
    padding-top: 10px;
    background-color: #6998ab;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .card-1 .card-body {
        padding: 0 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


.form-control {
    background-color: #b1d0e0;
    border-radius: 5px;
    border-color: #6998ab;
    color: rgb(0, 0, 0);
    font-size: 20px;


}

.form-select {
    background-color: #b1d0e0;
    border-radius: 5px;
    border-color: #6998ab;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 10px
}