<body>

    <div class="container text-center" *ngIf="!loader">
        <div class="row">
            <div class="col align-self-center">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-wrapper p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading border-secondary">
                    <h2 class="title">Registrate</h2>
                </div>
                <div class="card-body">

                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="row row-space">
                            <div class="col-2">
                                <label for="NombreUsuario" class="form-label text-light  fs-4">Nombre de Empresa</label>
                                <input class="form-control" type="text" id="NombreUsuario" formControlName="nombre"
                                    placeholder="Ingresar Su Nombre De Usuario">
                            </div>
                            <div class="col-2">
                                <label for="Tel" class="form-label text-light  fs-4">Telefono</label>
                                <input type="tel" class="form-control" id="Tel" placeholder="Ingresar el Telefono"
                                    formControlName="telefono">
                            </div>
                        </div>
                        <label for="Dire" class="form-label text-light  fs-4">Direccion</label>
                        <select class="form-select" formControlName="direccion">
                            <option value="" disabled selected hidden>Selecione un Municipio</option>
                            <option *ngFor="let departamento of departamentos" [value]="departamento.codigo">
                                {{departamento.nombre}}</option>
                        </select>
                        <div class="row row-space">
                            <div class="col-2">
                                <label for="TipoEm" class="form-label text-light  fs-4">Tipo de Empresa</label>
                                <select (click)="otherOption()" class="form-select" formControlName="tipoEmpresa">
                                    <option value="" disabled selected hidden>Selecione un Tipo Empresa</option>
                                    <option *ngFor="let tipo of tipes" [value]="tipo.codigo">{{tipo.nombre}}
                                    </option>
                                    <option value="other">Otros...</option>
                                </select>
                            </div>
                            <div *ngIf="newOption" class="col-2">
                                <label for="TipoEm" class="form-label text-light  fs-4">Nuevo tipo de empresa</label>
                                <input type="text" class="form-control" id="TipoEm" name="tipoEmpresa"
                                    placeholder="Ingrese su tipo de empresa" formControlName="tipoEmpresa">
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <label for="Email1" class="form-label text-light  fs-4">Correo Electrónico</label>
                                <input type="email" class="form-control" placeholder="Ingresar Su Correo" formControlName="email">
                            </div>
                            <div class="col-2">
                                <label for="password1" class="form-label text-light  fs-4">Contraseña</label>
                                <input type="password" class="form-control" id="password1"
                                    placeholder="Ingrese su Contraseña" formControlName="password">
                            </div>
                        </div>
                        <div id="botton-p-a" class="text-center m-2 p-2">
                            <p class="m-2">Estoy de acuerdo con <a>Terminos y Condiciones</a>
                            </p>

                            <a class="m-2">
                                <input type="submit" value="Registrarse">
                            </a>
                            <p class="m-2"><a routerLink="/auth/login">¿Ya tengo Cuenta?</a></p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->