<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid container">
    <a class="navbar-brand">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="./dashboard" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./products" routerLinkActive="active">Product Company</a>
        </li>
      </ul>
      <span class="navbar-text" (click)="logOut()">
        Log Out
      </span>
    </div>
  </div>
</nav>