<h2>{{title}}</h2>
<br>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Direction</th>
                <th scope="col">Type Company</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataTable|nameCompany:search;; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{data.nombre}}</td>
                <td>{{data.email}}</td>
                <td>{{data.telefono}}</td>
                <td>{{data.direccion}}</td>
                <td>{{data.tipoEmpresa}}</td>
                <td class="click" (click)="delete(data._id)"><i class="bi bi-person-x-fill"></i> Delete</td>
                <td data-bs-toggle="modal" data-bs-target="#editModal" class="click" (click)="getInfo(data._id)"><i
                        class="bi bi-pencil-square"></i> Edit</td>
                <td (click)="getBranches(data._id)" class="click" data-bs-toggle="modal" data-bs-target="#branchModal">
                    <i class="bi bi-eye"></i> See
                    branch
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal Edit -->
<div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="editCompany()">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Phone:</label>
                        <input type="tel" class="form-control" formControlName="telefono">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Addres:</label>
                        <select class="form-control" formControlName="direccion">
                            <option value="" disabled selected hidden>Select address</option>
                            <option *ngFor="let departamento of addres" [value]="departamento.codigo">
                                {{departamento.nombre}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Type of company:</label>
                        <select formControlName="tipoEmpresa" class="form-control" (click)="otherOption()">
                            <option value="" disabled selected hidden>Select type of company</option>
                            <option *ngFor="let company of selectCompany" [value]="company.codigo">{{company.nombre}}
                            </option>
                            <option value="other">Other...</option>
                        </select>

                    </div>
                    <div *ngIf="newOption" class="mb-3">
                        <label for="recipient-name" class="col-form-label">New type of company:</label>
                        <input type="text" class="form-control" formControlName="tipoEmpresa">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit Company</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="branchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Addres</th>
                            <th scope="col">Phone number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let info of branchs let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{info.nombre}}</td>
                            <td>{{info.direccion}}</td>
                            <td>{{info.telefono}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>